@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('fonts/montserrat-v10-latin-600.woff2') format('woff2'),
  url('fonts/montserrat-v10-latin-600.woff') format('woff');
}
