html
  font-family Roboto, sans-serif
  font-size 14px
  color #474a54

body
  background #f3f2f0
  margin 0

:target:before
    content ""
    display block
    height 65px
    margin -65px 0 0

.topbar
  position fixed
  top 0
  z-index 9999
  width 100%
  height 63px
  background-color #3a3a3a
  box-shadow 0 2px 4px -1px rgba(0, 0, 0, 0.25)

  :first-child
    max-width 1110px
    margin 0px auto
    position center

    h3
      display none

.menu-left
  float left
  padding 11px 0 0
  cursor pointer
  height 63px

  i
    color #bdc3c7

  &:hover
    background-color #2a2a2a

    ul
      display block

.menu-right
  float right
  padding 16px 0 0
  cursor pointer
  height 63px
  margin 0 5px

  &:hover ul
    display block

  div
    float right
    padding 8px
    background-color #f6cf17

    .dropdown
      margin-top 20px

    &:hover
      background-color #eedd66

  div a
    font-size 13px
    padding-left 6px


.dropdown
  background-color #fff
  display none
  border-radius 0 0 4px 4px
  border 1px solid #e4e4e4

  a
    text-decoration none
    color #474a54

  li
    color #474a54
    display block

    &:hover
      background-color #eee

    i
      color #474a54
      margin-right 10px

.dropdown#ddleft
  margin-top 12px
  padding 10px 0 4px

  li
    padding 10px 20px 10px 10px

  i
    padding 0 10px 0 5px

.dropdown#ddvers
  margin-top 47px
  padding 10px 0

  li
    padding 10px 5px

.dropdown#ddlang
  width 150px
  padding 10px 5px 5px
  margin 47px 0 0 -130px
  position absolute
  width 150px

  li
    display inline

    img
      vertical-align middle
      height 20px

.active
  background-color #f6cf17

.controls
    cursor pointer
    display block
    padding-top 20px

    li
      color #bdc3c7
      display inline
      margin 0 5px
      font-size 18px
      float right

    a
      color #f6cf17
      text-decoration none

      &:hover
        color #bdc3c7

.container
  center(1080px)
  background #fff
  border-bottom 3px solid #e4e4e4
  padding 10px 20px 20px
  margin 80px auto 20px

  a
    color #2980B9
    text-decoration none

    &:visited
      //color #9B59B6
      color #2980B9

.lights
  float right
  background-color #f6cf17
  margin-left 4px

.breadcrumbs
  width 100%
  padding 0 0 5px 8px
  border-bottom 1px solid #e4e4e4

  ul
    display block
    padding 0

  ul li
    display inline

  i
    margin 0 0 0 5px
    display inline

div.document
  column(2/3)
  line-height 1.7em
  visibility hidden

div.sphinxsidebarwrapper
  padding 8px

div.sphinxsidebar
  margin-left 0
  margin-right 0 !important
  font-size 13px
  line-height 1.5em
  column(1/3)


  ul
    margin 0
    padding 0
    list-style none !important

    ul
      margin 0 0 0 12px


  .toctree-l2
    display none

  li.current

    &>a
      font-weight bold

  .toctree-l1.current
    display list-item

    & .toctree-l2
      display list-item

  h3
  h4
    margin 8px 0

.footer
  cf()
  clear both
  padding-top 16px
  font-size 12px
  border-top 1px solid #e4e4e4

p
  margin 0 0 10px 0

.highlight
  border none
  border-left-width 4px
  border-left-style solid
  margin-bottom 10px
  font-family 'Source Code Pro', monospace

  pre
    font-family 'Source Code Pro', monospace
    white-space pre-wrap
    white-space -moz-pre-wrap
    white-space -pre-wrap
    white-space -o-pre-wrap
    word-wrap break-word

pre
  padding 12px
  font-size 13px
  line-height normal
  border-radius 4px
  margin 0

.docutils.literal
  background-color #f5f5f5
  font-size 13px
  padding 4px
  border-radius 2px
