body
  background #fff

.container
  background #fff
  padding 20px

a
  color #2980B9
  text-decoration none

  &:visited
    //color #9B59B6
    color #2980B9

.related
  padding 12px 0

  ul
    font-size 14px
    padding-left 0 !important

div.document
  column(3/4)

div.sphinxsidebarwrapper
  padding 0

div.sphinxsidebar
  margin-left 0
  margin-right 0 !important
  column(1/4)
  
  ul
    margin 0 4px 0 0
    padding 0
    
  h3
  h4
    margin 8px 0

.related
  cf()
  clear both
  