.homepage

  .landing
    background #fff
    height 300px
    border-bottom 8px solid #f7ca17
    padding-top 200px

    h1
      margin-top 0
      font-size 2.5em

    .search-wrapper
      width 60%
      margin-left 20%
      margin-top 18px

  .row
    center(1080px)

    &.center
      text-align center

  .search
    position relative
    width 100%
    margin 0 -9px
    padding 0 9px

    .field
      width 100% !important
      font-size 16px
      border-radius 4px
      margin 0 -9px

    .submit
      position absolute
      top 0
      right 0
      left auto
      font-size 16px

  .langs
    text-align center
    margin-bottom 40px
    visibility hidden

    .lang
      col(31/128)
      text-align center
      margin-bottom 20px
      img
        width 48px
        height 48px
