module(light, dark, icon)

  background light
  border-left 4px solid dark
  padding 12px

  .admonition-title
    color dark
    top -4px
    position relative
    //margin 8px 0 0 0
    font-size 1.2rem

    &::before
      font-family entypo
      font-style normal

      display inline-block
      width 1.3em
      margin-right .1em
      text-align center
      content icon

.admonition
  
  &.warning
    module(#ffedcc, #f0b37e, '\2716')
    
  &.tip
    module(#dbfaf4, #1abc9c, '\e705')
      
  &.hint
    module(#dbfaf4, #1abc9c, '\e705')
  
  &.note
    module(#e7f2fa, #6ab0de, '\e705')
