module(light, dark, icon)

  background light
  border-left 4px solid dark
  padding 12px

  .admonition-title
    color dark
    top -4px
    position relative
    //margin 8px 0 0 0
    font-size 1.2rem

    &::before
      font-family FontAwesome
      font-style normal

      display inline-block
      width 1.3em
      margin-right .1em
      text-align center
      content icon

.admonition

  &.warning
    module(#ffedcc, #f0b37e, '\f06a')

  &.tip
    module(#dbfaf4, #1abc9c, '\f05a')

  &.hint
    module(#dbfaf4, #1abc9c, '\f05a')

  &.note
    module(#e7f2fa, #6ab0de, '\f05a')
