module()
  .admonition-title
    color #fff
    margin -7px
    top -7px
    position relative
    padding 6px 12px
    font-weight normal

.admonition
  
  &.warning
    module()
    
    background #ffedcc
    
    .admonition-title
      background #f0b37e
    
  &.tip
    module()

    background #dbfaf4
    
    .admonition-title
      background #1abc9c
      
  &.hint
    module()

    background #dbfaf4
    
    .admonition-title
      background #1abc9c
  
  &.note
    module()

    background #e7f2fa
    
    .admonition-title
      background #6ab0de