@font-face
    font-family 'Roboto'
    src url('fonts/Roboto-Regular.eot')
    src url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto') format('svg')
    font-weight 400
    font-style normal

@font-face
    font-family 'Roboto'
    src url('fonts/Roboto-RegularItalic.eot')
    src url('fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-RegularItalic.woff2') format('woff2'),
         url('fonts/Roboto-RegularItalic.woff') format('woff'),
         url('fonts/Roboto-RegularItalic.ttf') format('truetype'),
         url('fonts/Roboto-RegularItalic.svg#Roboto') format('svg')
    font-weight 400
    font-style italic

@font-face
    font-family 'Roboto'
    src url('fonts/Roboto-Bold.eot')
    src url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold.woff2') format('woff2'),
         url('fonts/Roboto-Bold.woff') format('woff'),
         url('fonts/Roboto-Bold.ttf') format('truetype'),
         url('fonts/Roboto-Bold.svg#Roboto') format('svg')
    font-weight 700
    font-style normal

@font-face
    font-family 'Roboto'
    src url('fonts/Roboto-BoldItalic.eot')
    src url('fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
         url('fonts/Roboto-BoldItalic.woff') format('woff'),
         url('fonts/Roboto-BoldItalic.ttf') format('truetype'),
         url('fonts/Roboto-BoldItalic.svg#Roboto') format('svg')
    font-weight 700
    font-style italic
