.search

  margin-bottom 12px

  $background-color = #ebebeb

  .field
  .submit
    outline none
    color #666

  .searchbox-inner
    border-radius 4px
    background $background-color
    width 70% !important

  .field
    padding 9px
    border none
    font-size 1em
    background-color transparent

  .submit
    border-radius top right 4px, bottom right 4px
    padding 9px
    font-size 14px
    border none
    background-color transparent
    width 34px

