.search

  margin-bottom 12px

  $background-color = #ebebeb

  .field
  .submit
    outline none
    color #666

  .field
    padding 9px
    border none
    background $background-color
    border-radius top left 4px, bottom left 4px
    width 60% !important
    font-size 1em

  .submit
    border-radius top right 4px, bottom right 4px
    padding 9px
    font-size 14px
    border none
    background $background-color
    position relative
    left -4px

