.docutils.literal {
    background-color: #f5f5f5;
    border-radius: 2px;
    font-size: 13px;
    padding: 4px;
}

#page-top {
  background-color: #f3f2f0 !important;
  color: #474a54;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
}

#contentwrapper {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 3px solid #e4e4e4;
}

#contentwrapper a, #contentwrapper a:visited, #contentwrapper a:hover, #contentwrapper a:active {
    color: #2980b9 !important;
    text-decoration: none !important;
}

#contentwrapper div {
  background-color: #ffffff;
}

.breadcrumb {
  background-color: inherit !important;
  border-bottom: 1px solid #e4e4e4;
  margin: 0 -10px 10px !important;
  padding: 15px 10px !important;
}
