#sponge-bootstrap-menu {
  height: 63px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

#contentwrapper {
  margin-top: -5px;
}

#sp-site-title {
  font-family: Montserrat,Helvetica,Arial,sans-serif ;
  font-size: 22.5px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  font-weight: 700;
  color: #f7cf0d;
  vertical-align: middle;
}

#site-logo {
  display: inline-block;
}

.navbar-brand > i {
  color: #808080;
}
.navbar-left > li > a {
  padding-top: 10px !important;
}

.navbar-right > .dropdown-menu {
  margin: 11px 0 0 0 !important;
}

.navbar-right > li {
  margin: 0 5px;
}

.navbar-right > li > a {
  padding: 12px 8px !important;
  margin: 12px 0 0 !important;
}

.dropdown-menu {
  background-color: #ffffff !important;
  border: 1px solid #e4e4e4 !important;
  border-radius: 0 0 4px 4px !important;
  padding: 10px 0 4px !important;
}

.navbar-left > .dropdown-menu {
  width: 200px !important;
  margin: 0 !important;
}

.dropdown-menu > li > a {
  color: #474a54 !important;
  padding: 10px 20px 10px 10px !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* built with custom bootstrap menu builder */
/* http://bootstrapdesigntools.com/tools/bootstrap-menu-builder/ */

#sponge-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(247, 207, 13, 1);
}
#sponge-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(51, 51, 51, 1);
    border-width: 0px;
    border-radius: 0px;
}
#sponge-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(43, 43, 43, 1);
    background-color: rgba(247, 207, 13, 1);
}
#sponge-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#sponge-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(43, 43, 43, 1);
    background-color: rgba(238, 221, 102, 1);
}
#sponge-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#sponge-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#sponge-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(43, 43, 43, 1);
    background-color: rgba(247, 207, 13, 1);
}
#sponge-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #f7cf0d;
}
#sponge-bootstrap-menu.navbar-default .navbar-toggle:hover,
#sponge-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #f7cf0d;
}
#sponge-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #f7cf0d;
}

#sponge-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#sponge-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}
#sponge-bootstrap-menu.navbar-default .navbar-left > li > a {
    background-color: #333333 !important;
}
